@mixin flex-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}